/* html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre,
a, img, var, ul, li,{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

/* html{
  background-color: rgb(250,250,250);
	font-size: 18px;
} */

body{
	position: relative;
	cursor: s-resize;
	width: 100vw;
	background-color:rgb(250, 250, 250);
	z-index: 100;
	
}
.title{
width: 65vw;
cursor: s-resize;
/* overflow: hidden; */
display: grid;
margin-left: auto;
margin-right: auto;
grid-template-columns:73fr 56fr 64fr 57fr 9fr 57fr 45fr 74fr 56fr 66fr 96fr 56fr 45fr 64fr 66fr 64fr 66fr;
z-index:100;
}

.box{
	display: inline-block;
	text-align: center;
	margin-top: 20vh;
	position: relative;
	z-index:100;
	cursor: s-resize;


}
h1{	cursor: s-resize;
	position: relative;
	font-family: sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 8vw;
	letter-spacing: -3px;
	color: rgb(30,30,30);
	z-index: 30;
}
h2{	cursor: s-resize;
	position: relative;
	font-family: sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.8rem;
	color: rgb(30,30,30);
	text-align: center;
	width:65vw;
	margin-left: auto;
	margin-right: auto;
	width:68vw;
	/* padding-top: 30vh; */

	z-index:30;

}
.intro{

	z-index: 40;

	margin-left:auto;
	margin-right: auto;
	width:60vw;
	padding-top: 5vh;
	text-align: justify;
	margin-top: -80vh;
	position: relative;
	/* box-shadow: white 30px 30px 30px; */

}


.logo{
	position: relative;
	width:180px;
	margin-top: 5vh;
	z-index: 40;
	margin-left:auto;
	margin-right: auto;
/* border-top: black 1px solid; */
box-shadow: grey 2px 2px 2px;
}

.LOGO{
	margin-top: 15vh;
text-align: center;
margin-left:auto;
margin-right: auto;
}

section{
	border: 1px black solid;
margin-top: 20vh;
	position: relative;
	/* background-color: white; */
	display: grid;
	width:95vw;
	grid-template-columns: 1fr 1fr;
	line-height: 1.4;
	/* box-shadow: white -30px -30px 30px; */
background-color: white;
	padding-bottom: 10vh;
	margin-left: auto;
margin-right: auto;

z-index: 30;

}
/*.apletters{
	grid-column-start: 2;
	grid-row-start: 1;
	position: relative;
	bottom: 23px;
}
.ryletters{
	grid-column-start: 4;
	grid-row-start: 1;
	position: relative;
	bottom: 23px;
}*/
#ap{
	padding-top: 8vh;

padding-left:3vw;
}
#ry{
	padding-top: 8vh;
	grid-column-start: 2;
	padding-left: 3vw;
	z-index: 30;

}

p{	cursor: s-resize;
	position: relative;
	font-family: sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2rem;
	line-height: 1.8;
	color: rgb(30,30,30);
	padding-top: 600px;
	margin-left: auto;
	margin-right: auto;
	z-index: 30;


	

}
a{
	font-family: sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.3rem;
	color: rgb(30,30,30);
	text-decoration: none;
	z-index: 30;
}
a:hover {
  color: rgba(14,99,236,.23);
}
.ccaoption{
/* width:10vw; */
text-align: center;
display:none;
padding-top: 0.2em;
/* border-bottom: black 1px dotted; */
}



.foot{
	padding-top: 5vh;
position: relative;
	width:90vw;
	margin-left: auto;
	margin-right: auto;
margin-top: 5vh;

	grid-gap: 10vh;
	padding-bottom: 10vh;
	font-family: sans-serif;
z-index: 0;

}

.foot2{
	box-shadow: grey 1px 1px 2px;
	line-height: 1.8;
	font-size: 0.8rem;
	text-align: center;
	font-family: sans-serif;
	background-color: white;
	width: 30rem;

	font-weight: 100;
	margin: 1vh;
	margin-left: auto;
	margin-right: auto;
}



.foot1{
	box-shadow: grey 1px 1px 2px;
	background-color: white;
	line-height: 1.8;
	width: 45rem;
	padding-left: 1vw;
	padding-right: 1vw;
text-align: center;
	font-size: 0.8em;
	font-weight: 100;
	margin-left: auto;
	margin-right: auto;
}

#touch{
	/* border-bottom: black dashed 0.5px; */
	font-size: 0.8rem;
	font-family: sans-serif;
	}












@media screen and (max-width: 500px) {

.LOGO{
	margin-top: 20vh;
}
#triangle1{
	opacity:0;
}
#triangle2{
	margin-left: -13vw;
}
section{
text-align: center;
	display:block;
	font-size: 1rem;
	margin-left: -3vw;
margin-top:15vh;
	box-shadow: white 30px -30px 20px;
}
#ry{
	font-size: 1rem;
}
a{
	text-align: center;
	font-size: 0.8rem;
	margin-left: auto;
		margin-right: auto;
}
#ap{
	font-size: 1rem;
}
	h1{
		font-size: 2.8rem;
	}
	h2{
	
		font-size: 1.5rem;
		width:60vw;
		margin-left: auto;
		margin-right: auto;
		z-index:30;
	}
	.title{
		padding-top:0vh;
		width:90vw
	}
	p{
	
		width:60vw;
		font-size: 0.8rem;
		text-align:start;
		margin-left: auto;
		margin-right: auto;
	}
	.intro{
		width:70vw;
		text-align:start;}



  }



	@media screen and (max-height: 550px ){
		.intro{
			z-index: 40;
		
			margin-left:auto;
			margin-right: auto;
			width:60vw;
			padding-top: 5vh;
			text-align: justify;
			margin-top: -98vh;
			position: relative;
			/* box-shadow: white 30px 30px 30px; */
		
		} }

		@media screen and (max-height: 490px){
			.intro{
				z-index: 40;
			
				margin-left:auto;
				margin-right: auto;
				width:60vw;
				padding-top: 5vh;
				text-align: justify;
				margin-top: -110vh;
				position: relative;
				/* box-shadow: white 30px 30px 30px; */
			
			} }
		
			@media screen and (max-height: 400px){
				.intro{
					z-index: 40;
				
					margin-left:auto;
					margin-right: auto;
					width:60vw;
					padding-top: 5vh;
					text-align: justify;
					margin-top: -150vh;
					position: relative;
					/* box-shadow: white 30px 30px 30px; */
				
				} }
			
  @media screen and (max-height: 300px){
	.intro{
		z-index: 40;
	
		margin-left:auto;
		margin-right: auto;
		width:60vw;
		padding-top: 5vh;
		text-align: justify;
		margin-top: -170vh;
		position: relative;
		/* box-shadow: white 30px 30px 30px; */
	
	} }

